.my-navbar{
    background-color: transparent;
    opacity: 0.9;
    min-height: 5rem;
    position: absolute;
}

.my-navbar ul li a{
    font-size: 1.5rem;
    padding: 1rem;
    color: #333;
}

.progress {
   border: 1px solid #B0B0B0;
   border-radius: 25px;
   box-shadow: 0 0 3px #B0B0;
   backdrop-filter: blur(2px) brightness(101%);
       height: 14px;
       font-size: 10px
}

.bar {
   width: 80%;
    /*background-image: linear-gradient(to left, #684264, #783281, #7e1ea5, #7404cf, #4300ff);*/
    /*background-image: linear-gradient(to right, #7721f9, #008cff, #00b8ff, #00d5a8, #00e708);*/
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
   box-shadow: inset 0px 12px 1.7px #FFFFFF33;
   border-radius: 25px;
   color: white;
   text-align: center;
}

.my-navbar ul li a:hover{
   border: 1px solid #333;
   border-radius: 10px;
   text-decoration: none;
   box-shadow: 0 0.4 0 0;
}
.my-navbar ul li a:active, .my-navbar ul li a:focus{
    text-decoration: underline;
    text-decoration-color: #333;
    text-underline-offset: 10px;
}

.hero-content a.btn{
    margin: 0 auto;
}

.hero-component{
    background: url('../images/mypic1.jpeg') no-repeat center center;
    background-size: cover;
     background-color: #000;
    color: #fff; /* Text color on the hero section */
    height: 100vh;
    width: 100%;
    text-align: center;
    min-height: 800px;

}

.btn-resume{
    border: 2px solid #ff00ff;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px
}
.btn-resume:hover{
    color: #fff;
    border: 2px solid #007bff;
}
.btn-resume:focus, .btn-resume:active{
    text-decoration:underline;
    text-underline-offset: 10px;
}
.hero-content{
    width:30%;
    height: 300px;
    position: absolute;
    right:3%;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes example {
  from {top: 600px; opacity: 0}
  to {top: 200px; opacity:1}
}
.heading-text{
    font-weight: 700;
    font-size: 4.5rem;
    color: #fff;
}

#skills ul li img{
    max-width: 75px;
}
#skills ul li {
    min-height: 100%;
    border: 2px solid #fff;
    margin: 20px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skill-card-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}
.skills-text{
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
#skills{
   background-image: linear-gradient(to right, #ffffff, #fdfdfd, #fbfcfb, #fafafa, #f8f8f8);
}

@media only screen and (max-width: 768px){
    .hero-component{
        background: #000;
            min-height: 600px;
    }

    .my-navbar ul li a{
        color: #fff;
    }

    .my-navbar ul li a{
        font-size: 14px;
        padding: 0.25rem;
        color: #fff;
    }
    #skills{
        background-image: linear-gradient(to left bottom, #e6e6e6, #e8e9ea, #e8eced, #eaf0ed, #f0f2ec);
    }
    .hero-content{
        width: initial;
        right: unset;
        margin: 0.75rem;
    }
}
@media only screen and (min-width: 1900px){
    @keyframes example {
      from {bottom: 0px; opacity: 0}
      to {bottom:50%; opacity:1}
    }
}